html, body{
	background-color: #0D0C0F;
	color: white;
	margin: 0;
}

header{
	background-color: #4C0298;
	padding: 40px;
	text-align: center;
}

hr {
	border: none;
	height: 3px;
	background: #4C0298;
}

h1{
	font-size: 70px;
	color: white;
	font-family: sans-serif;
}

h2{
	color: #DBC5F1;
	font-family: sans-serif;
}

header img{
	border-radius: 174px;
	width: 250px;
	height: 250px;
	border: 10px solid #FFF;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}


img.big-image{
	max-width: 100%;
	box-shadow: 0 0 5px  #A97FD4;
}

p.caption{
	font-size: 16px;
	color: #A97FD4;
	font-style: italic;
	text-align: center;
	font-family: serif;

}

p .content{
	font-size: 16px;
	font-family: serif;
	color: white;
}


ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.content ul li a {
	color: #A97FD4;
	text-decoration: none;
}


footer ul li a{
	color: #0D0C0F;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #4C0298;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

